<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>z-admin</title>
	<link rel="stylesheet" type="text/css" href="public/css/z.css">
	<link rel="stylesheet" type="text/css" href="public/css/admin.css">
</head>
<body>
	<div class="z-nav z-nav-tree nav-fixed">
		<div class="divider-content-summary offsetBtn"><div class="divider-content-summary__icon"><span class="z-icon">&#xe622;</span></div></div>
		<div class="nav-box">
			<div class="nav-logo">
				<a href="#aa">logo</a>
			</div>
			<div id="tagLeft">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="z-nav">
			<a href="javascript:;" class="z-nav-box z-pull-left z-icon menuBtn z-action-tips z-active" title="伸缩导航">&#xe76d;</a>
			<ul class="z-nav-ul z-pull-left" id="tagTop">
			</ul>
			<ul class="z-nav-ul z-pull-right">
				<li class="z-nav-item z-dropdown z-action-dropdown">
					<a href="javascript:;" class="z-action-tips" title="个人信息">
						<span class="z-cover face" style="background-image:url('http://localhost/newuu/upload/face/153773.jpg')"></span>
						用户名 <span class="z-caret"></span>
					</a>
					<ul class="z-dropdown-menu z-dropdown-menu-right z-anim-ms3 z-anim-upbit">
						<li><a href="example/js.html" class="toLink">个人信息</a></li>
						<li><a href="exit.php">退出登录</a></li>
						<li><a href="javascript:;" id="skinBtn">换肤</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="z-tab">
			<a href="javascript:;" class="prevBtn z-icon z-action-tips" title="上一页">&#xe605;</a>
			<a href="javascript:;" class="nextBtn z-icon z-action-tips" title="下一页">&#xe61d;</a>
			<div class="tab-tag">
				<ul class="z-tab-title" id="tagList">
				</ul>
			</div>
			<div class="z-tab-content" id="tagContent">
			</div>
		</div>			
	</div>
	<div class="loadingBox">
		<span class="z-anim-rotate z-icon">&#xe624;</span>
	</div>

	<script type="text/template" id="tmp-tagTop">
		<% for(var k in items){ var item = items[k];%>
			<li class="z-nav-item<%= item.default?' default':'' %>" data-id="<%= k %>"><a href="javascript:;"><%= item.text %></a></li>
		<% } %>
	</script>
	<script type="text/template" id="tmp-tagMore">
		<li class="z-nav-item z-dropdown z-action-dropdown"><a href="javascript:;" class="z-action-tips" title="更多分类">导航菜单 <span class="z-caret"></span></a>
			<ul class="z-dropdown-menu z-anim-ms3 z-anim-upbit">
			<% for(var i=0;i<sliders.length;i++){ var slider = sliders[i];%>
				<li><a href="#">列表</a></li>
			<% } %>
			</ul>
		</li>
	</script>
	<script type="text/template" id="tmp-tagLeft">
		<ul class="nav-list" data-id="<%= id %>">
			<% for(var k in items){ var item = items[k], childs = item.childs;%>
				<% if(childs && childs.length){ %>
					<li class="z-nav-item z-active nav-tag z-action-tree"><a href="javascript:;"><%= item.text %> <span class="z-icon z-pull-right">&#xe6be;</span></a>
						<ul class="z-nav-child">
							<% for(var i in childs){ var child = childs[i];%>
							<li class="z-nav-item"><a href="#<%= id %>/<%= k %>/<%= i %>" class="toLink"><%= child.text %></a></li>
							<% } %>
						</ul>
					</li>
				<% }else{ %>
					<li class="z-nav-item<%= item.default?' default':'' %>"><a href="#<%= id %>/<%= k %>" class="toLink"><%= item.text %></a></li>
				<% } %>
			<% } %>
		</ul>
	</script>
	
	<script src="public/libs/jquery.js"></script>
	<script src="public/js/z.js"></script>
	<script src="public/js/admin.js"></script>
	<script>
		admin.init([
			{
				text: '大分类',
				default: true,
				childs: [{
					text: '小分类中的头头',
					default: true,
					childs: [{
						text: '小分类1',
						href: 'example/js.html',
						default: true
					},{
						text: '小分类2',
						href: 'example/css.html',
					},{
						text: '小分类3',
						href: 'example/js.html',
					},{
						text: '小分类4',
						href: 'example/common.html',
					},{
						text: '小分类5',
						href: 'example/css.html',
					}]
				},{
					text: '大分类2',
					href: 'example/common.html',
				},{
					text: '大分类2',
					href: 'example/css.html',
				},{
					text: '小分类中的头头',
					default: true,
					childs: [{
						text: '小分类1',
						href: 'example/js.html',
						default: true
					},{
						text: '小分类2',
						href: 'example/css.html',
					},{
						text: '小分类3',
						href: 'example/js.html',
					},{
						text: '小分类4',
						href: 'example/common.html',
					},{
						text: '小分类5',
						href: 'example/js.html',
					}]
				}]
			},{
				text: '大分类测试',
				childs: [{
					text: '大分类测试1',
					href: 'example/css.html',
				}]
			},{
				text: '大分类测试',
				childs: [{
					text: '大分类测试1',
					href: 'example/js.html',
				}]
			},{
				text: '大分类测试',
				childs: [{
					text: '大分类测试1',
					href: 'example/common.html',
				}]
			},{
				text: '大分类测试',
				childs: [{
					text: '大分类测试1',
					href: 'example/css.html',
				}]
			}
		])
	</script>
</body>
</html>